@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,400;0,700;1,400;1,700&display=swap"); /* import customized font from Google */

body {
  font-family: "Kodchasan", sans-serif;
}

/* .swal2-popup {
  font-size: 1.6rem !important;
  font-family: "Kodchasan", sans-serif;
} */
body {
  background-color: rgb(179, 64, 64);
}
