{% extends 'root.html' %} {% block title %} CAKE {% endblock %} {% block body %}

<style>
  body {
    height: 100vh;
  }
</style>

<div
  class="text-center my-3 py-3 px-5 mx-5 border border-3 border-info rounded-top"
  align="center"
>
  <div class="px-3 py-3" align="end">
    <h3>Cake</h3>
    <div class="vstack" align="center">
      <br />
      <a href="#" target="_blank"
        ><button class="btn btn-lg btn-danger">Button</button></a
      >
    </div>
  </div>
</div>

{% endblock %}
<!-- - a button leads to customized features page
  - a button leads to game
  - a button leads to account management page
  - a button leads to about page
  - a button to say something to me
  - a button leads to report bugs -->
