{% extends 'root.html' %} {% block title %} CHECK ACCOUNT {% endblock %} {%
block body %}
<style>
  .swal2-popup {
    font-size: 1.6rem !important;
    font-family: "Kodchasan", sans-serif;
  }
</style>

<!-- <div
  class="text-center my-2 py-2 px-5 mx-5 border border-3 border-info rounded-top"
  align="center"
>
  <div class="px-3 py-3" align="end">
    <h3>Checker</h3>
    <div class="vstack" align="center">
      <br />
      <div class="px-5 my-3" id="checker" align="center">
        <div class="col-7 row-auto">
          <form
            class="form-control py-2 my-2 border border-3 border-info"
            action="/check-account/by-first-name/"
            method="POST"
          >
            <h4>Check pre-defined account</h4>
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search Here"
              aria-label="Search"
              autocapitalize="characters"
              name="account_"
              id="account_"
            />
            <p>
              Type in your first name (Ex. If your name is John Blue, type in
              "John" or "JOHN" or "john")
            </p>
            <div class="my-2">
              <input type="submit" value="Search!" class="btn-lg" />
            </div>
          </form>
        </div>

        *******
      </div>
    </div>
  </div>
</div> -->
<div class="my-5 py-5">
  <div
    class="text-center my-2 py-2 px-5 mx-5 border border-3 border-light rounded-top"
    align="center"
  >
    <button class="btn btn-light btn-lg" type="button" onclick="theChecker()">
      Click here if it does not automatically pop-up
    </button>
  </div>
</div>

{% endblock %}
