{% extends 'root.html' %} {% block title %} Game Landing Page{% endblock %} {%
block body %}
<!-- don't forget to edit in the questionsManager.html as well -->
<style>
  .swal2-popup {
    font-size: 1.6rem !important;
    font-family: "Kodchasan", sans-serif;
  }
  body {
    background-image: linear-gradient(
      to top right,
      #dfe890 0%,
      #82d1cc 50%,
      #3a44db 100%
    );
    background-size: 400% 400%;
    animation: gradient 15s alternate-reverse infinite;
    height: 100vh;
  }
</style>

<div class="my-5 py-5">
  <div class="text-center my-3 py-3 px-5 mx-5" align="center">
    {% if current_user.is_authenticated %} {% if current_user.isMe == True %}
    <a href="/question-manager/">
      <button class="btn btn-primary">Question Manager</button></a
    >
    {% endif %} {% endif %}
  </div>
</div>

{% endblock %}
