{% extends 'gameLanding.html' %} {% block title %} Play Game {% endblock %} {%
block body %} {% include 'pyscript.html' %}
<!-- don't forget to edit in the questionsManager.html and other game html file related as well -->
<style>
  .swal2-popup {
    font-size: 1.6rem !important;
    font-family: "Kodchasan", sans-serif;
  }

  .swal2-popup {
    font-size: 1.6rem !important;
    font-family: "Kodchasan", sans-serif;
  }
  body {
    background-image: linear-gradient(
      to top right,
      #dfe890 0%,
      #82d1cc 50%,
      #3a44db 100%
    );
    background-size: 400% 400%;
    animation: gradient 15s alternate-reverse infinite;
    height: 100vh;
  }
  .question {
    opacity: 0.8;
  }
</style>

<div class="my-2 py-2">
  <div class="text-center my-3 py-2 px-5 mx-5" align="center">
    <div class="py-3 px-3" align="start">
      <a href="/game/">
        <button class="btn btn-secondary">&eqslantless; Back</button></a
      >
    </div>
    <div class="question">
      <form
        class="form-control form-control-lg border border-3 border-warning"
        action="/have-fun-with-my-game/submit/"
        method="POST"
      >
        <div class="py-2 my-1" align="center">
          <h2 style="color: #3a44db; font-weight: bold">
            How well you know me?
          </h2>
        </div>
        <!-- Q1 -->
        <div class="py-2 mx-2 q1">
          <h4 align="start">Question 1</h4>
          <ul class="list-group">
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="cor1"
                  id="cor1"
                  value="correct"
                />
                <label class="form-check-label stretched-link" for="cor1">
                  Correct 1
                </label>
              </li>
            </div>
            <div class="form-check my-1">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="q1b"
                  id="q1b"
                  value="on"
                />
                <label class="form-check-label stretched-link" for="q1b">
                  Q1B
                </label>
              </li>
            </div>
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="q1c"
                  id="q1c"
                  value="on"
                />
                <label class="form-check-label stretched-link" for="q1c">
                  Q1C
                </label>
              </li>
            </div>
          </ul>
        </div>
        <!-- Q2 -->
        <div class="py-2 mx-2 q2">
          <h4 align="start">Question 2</h4>
          <ul class="list-group">
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="q2a"
                  id="q2a"
                  value="on"
                />
                <label class="form-check-label stretched-link" for="q2a">
                  Q2A
                </label>
              </li>
            </div>
            <div class="form-check my-1">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="cor2"
                  id="cor2"
                  value="correct"
                />
                <label class="form-check-label stretched-link" for="cor2">
                  Correct 2
                </label>
              </li>
            </div>
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="q2c"
                  id="q2c"
                  value="on"
                />
                <label class="form-check-label stretched-link" for="q2c">
                  Q2C
                </label>
              </li>
            </div>
          </ul>
        </div>
        <!-- Q3 -->
        <div class="py-2 mx-2 q3">
          <h4 align="start">Question 3</h4>
          <ul class="list-group">
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="q3a"
                  id="q3a"
                  value="on"
                />
                <label class="form-check-label stretched-link" for="q3a">
                  Q3A
                </label>
              </li>
            </div>
            <div class="form-check my-1">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="cor3"
                  id="cor3"
                  value="correct"
                />
                <label class="form-check-label stretched-link" for="cor3">
                  Correct 3
                </label>
              </li>
            </div>
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="q3c"
                  id="q3c"
                  value="on"
                />
                <label class="form-check-label stretched-link" for="q3c">
                  Q3C
                </label>
              </li>
            </div>
          </ul>
        </div>
        <!-- Q4 -->
        <div class="py-2 mx-2 q4">
          <h4 align="start">Question 4</h4>
          <ul class="list-group">
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="q4a"
                  id="q4a"
                  value="on"
                />
                <label class="form-check-label stretched-link" for="q4a">
                  Q4A
                </label>
              </li>
            </div>
            <div class="form-check my-1">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="q4b"
                  id="q4b"
                  value="on"
                />
                <label class="form-check-label stretched-link" for="q4b">
                  Q4B
                </label>
              </li>
            </div>
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="cor4"
                  id="cor4"
                  value="correct"
                />
                <label class="form-check-label stretched-link" for="cor4">
                  Correct 4
                </label>
              </li>
            </div>
          </ul>
        </div>
        <br />
        <!-- Submit -->
        <div class="row py-2 px-5 mx-3" align="center">
          <button
            type="submit"
            class="btn btn-lg btn-success mb-3"
            align="center"
          >
            Submit
          </button>
        </div>
      </form>
      <div class="py-3 px-3" align="start">
        <a href="/game/">
          <button class="btn btn-secondary">&eqslantless; Back</button></a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- pyscript write hiddenly to inner html and use a function to grap that data and put as a value in hidden input form, once user submit it will be post method (no json) -->
