{% extends 'gameLanding.html' %} {% block title %} Play Game {% endblock %} {%
block body %} {% include 'pyscript.html' %}
<!-- don't forget to edit in the questionsManager.html and other game html file related as well -->
<style>
  .swal2-popup {
    font-size: 1.6rem !important;
    font-family: "Kodchasan", sans-serif;
  }

  .swal2-popup {
    font-size: 1.6rem !important;
    font-family: "Kodchasan", sans-serif;
  }
  body {
    background-image: linear-gradient(
      to top right,
      #dfe890 0%,
      #82d1cc 50%,
      #3a44db 100%
    );
    background-size: 500% 500%;
    animation: gradient 18s alternate-reverse infinite;
    height: auto;
  }
  .question {
    opacity: 0.8;
  }
</style>

<div class="my-2 py-2">
  <div class="text-center my-3 py-2 px-5 mx-5" align="center">
    <div class="py-3 px-3" align="start">
      <a href="/game/">
        <button class="btn btn-secondary">&eqslantless; Back</button></a
      >
    </div>
    <div class="question">
      <form
        class="form-control form-control-lg border border-3 border-warning"
        action="/have-fun-with-my-game/submit/"
        method="POST"
      >
        <div class="py-2 my-1" align="center">
          <h2 style="color: #3a44db; font-weight: bold">
            How well you know me?
          </h2>
        </div>
        <!-- Q1 -->
        <div class="py-2 mx-2 q1">
          <h4 align="start">Question 1</h4>
          <ul class="list-group">
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q1"
                  id="q1a"
                  value="correct"
                />
                <label class="form-check-label stretched-link" for="q1a">
                  Correct 1
                </label>
              </li>
            </div>
            <div class="form-check my-1">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q1"
                  id="q1b"
                  value="on"
                />
                <label class="form-check-label stretched-link" for="q1b">
                  Q1B
                </label>
              </li>
            </div>
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q1"
                  id="q1c"
                  value="on"
                />
                <label class="form-check-label stretched-link" for="q1c">
                  Q1C
                </label>
              </li>
            </div>
          </ul>
        </div>
        <!-- Q2 -->
        <div class="py-2 mx-2 q2">
          <h4 align="start">Question 2</h4>
          <ul class="list-group">
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q2"
                  id="q2a"
                  value="on"
                />
                <label class="form-check-label stretched-link" for="q2a">
                  Q2A
                </label>
              </li>
            </div>
            <div class="form-check my-1">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q2"
                  id="q2b"
                  value="correct"
                />
                <label class="form-check-label stretched-link" for="q2b">
                  Correct 2
                </label>
              </li>
            </div>
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q2"
                  id="q2c"
                  value="on"
                />
                <label class="form-check-label stretched-link" for="q2c">
                  Q2C
                </label>
              </li>
            </div>
          </ul>
        </div>
        <!-- Q3 -->
        <div class="py-2 mx-2 q3">
          <h4 align="start">Question 3</h4>
          <ul class="list-group">
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q3"
                  id="q3a"
                  value="on"
                />
                <label class="form-check-label stretched-link" for="q3a">
                  Q3A
                </label>
              </li>
            </div>
            <div class="form-check my-1">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q3"
                  id="q3b"
                  value="correct"
                />
                <label class="form-check-label stretched-link" for="q3b">
                  Correct 3
                </label>
              </li>
            </div>
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q3"
                  id="q3c"
                  value="on"
                />
                <label class="form-check-label stretched-link" for="q3c">
                  Q3C
                </label>
              </li>
            </div>
          </ul>
        </div>
        <!-- Q4 -->
        <div class="py-2 mx-2 q4">
          <h4 align="start">Question 4</h4>
          <ul class="list-group">
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q4"
                  value="on"
                  id="q4a"
                />
                <label class="form-check-label stretched-link" for="q4a"
                  >Q4A</label
                >
              </li>
            </div>
            <div class="form-check my-1">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q4"
                  value="on"
                  id="q4b"
                />
                <label class="form-check-label stretched-link" for="q4b"
                  >Q4B</label
                >
              </li>
            </div>
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q4"
                  value="correct"
                  id="q4c"
                />
                <label class="form-check-label stretched-link" for="q4c"
                  >Correct 4</label
                >
              </li>
            </div>
          </ul>
        </div>
        <!-- Q5 -->
        <div class="py-2 mx-2 q4">
          <h4 align="start">Question 5</h4>
          <ul class="list-group">
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q5"
                  value="correct"
                  id="q5a"
                />
                <label class="form-check-label stretched-link" for="q5a"
                  >Correct 5</label
                >
              </li>
            </div>
            <div class="form-check my-1">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q5"
                  value="on"
                  id="q5b"
                />
                <label class="form-check-label stretched-link" for="q5b"
                  >Q5B</label
                >
              </li>
            </div>
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q5"
                  value="on"
                  id="q5c"
                />
                <label class="form-check-label stretched-link" for="q5c"
                  >Q5C</label
                >
              </li>
            </div>
          </ul>
        </div>
        <!-- Q6 -->
        <div class="py-2 mx-2 q4">
          <h4 align="start">Question 6</h4>
          <ul class="list-group">
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q6"
                  value="on"
                  id="q6a"
                />
                <label class="form-check-label stretched-link" for="q6a"
                  >Q6A</label
                >
              </li>
            </div>
            <div class="form-check my-1">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q6"
                  value="on"
                  id="q6b"
                />
                <label class="form-check-label stretched-link" for="q6b"
                  >Q6B</label
                >
              </li>
            </div>
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q6"
                  value="correct"
                  id="q6c"
                />
                <label class="form-check-label stretched-link" for="q6c"
                  >Correct 6</label
                >
              </li>
            </div>
          </ul>
        </div>
        <!-- Q7 -->
        <div class="py-2 mx-2 q4">
          <h4 align="start">Question 7</h4>
          <ul class="list-group">
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q7"
                  value="correct"
                  id="q7a"
                />
                <label class="form-check-label stretched-link" for="q7a"
                  >Correct 7</label
                >
              </li>
            </div>
            <div class="form-check my-1">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q7"
                  value="on"
                  id="q7b"
                />
                <label class="form-check-label stretched-link" for="q7b"
                  >Q7B</label
                >
              </li>
            </div>
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q7"
                  value="on"
                  id="q7c"
                />
                <label class="form-check-label stretched-link" for="q7c"
                  >Q7C</label
                >
              </li>
            </div>
          </ul>
        </div>
        <!-- Q8 -->
        <div class="py-2 mx-2 q4">
          <h4 align="start">Question 8</h4>
          <ul class="list-group">
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q8"
                  value="correct"
                  id="q8a"
                />
                <label class="form-check-label stretched-link" for="q8a"
                  >Correct 8</label
                >
              </li>
            </div>
            <div class="form-check my-1">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q8"
                  value="on"
                  id="q8b"
                />
                <label class="form-check-label stretched-link" for="q8b"
                  >Q8B</label
                >
              </li>
            </div>
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q8"
                  value="on"
                  id="q8c"
                />
                <label class="form-check-label stretched-link" for="q8c"
                  >Q8C</label
                >
              </li>
            </div>
          </ul>
        </div>
        <!-- Q9 -->
        <div class="py-2 mx-2 q4">
          <h4 align="start">Question 9</h4>
          <ul class="list-group">
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q9"
                  value="on"
                  id="q9a"
                />
                <label class="form-check-label stretched-link" for="q9a"
                  >Q9A</label
                >
              </li>
            </div>
            <div class="form-check my-1">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q9"
                  value="correct"
                  id="q9b"
                />
                <label class="form-check-label stretched-link" for="q9b"
                  >Correct 9</label
                >
              </li>
            </div>
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q9"
                  value="on"
                  id="q9c"
                />
                <label class="form-check-label stretched-link" for="q9c"
                  >Q9C</label
                >
              </li>
            </div>
          </ul>
        </div>
        <!-- Q10 -->
        <div class="py-2 mx-2 q4">
          <h4 align="start">Question 10</h4>
          <ul class="list-group">
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q10"
                  value="on"
                  id="q10a"
                />
                <label class="form-check-label stretched-link" for="q10a"
                  >Q10A</label
                >
              </li>
            </div>
            <div class="form-check my-1">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q10"
                  value="on"
                  id="q10b"
                />
                <label class="form-check-label stretched-link" for="q10b"
                  >Q10B</label
                >
              </li>
            </div>
            <div class="form-check my-3">
              <li
                class="list-group-item list-group-item-action list-group-item-dark rounded"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="q10"
                  value="correct"
                  id="q10c"
                />
                <label class="form-check-label stretched-link" for="q10c"
                  >Correct 10</label
                >
              </li>
            </div>
          </ul>
        </div>
        <br />
        <!-- Submit -->
        <div class="row py-2 px-5 mx-3" align="center">
          <button
            type="submit"
            class="btn btn-lg btn-success mb-3"
            align="center"
          >
            Submit
          </button>
        </div>
      </form>
      <div class="py-3 px-3" align="start">
        <a href="/game/">
          <button class="btn btn-secondary">&eqslantless; Back</button></a
        >
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!-- [not applied] pyscript write hiddenly to inner html and use a function to grap that data and put as a value in hidden input form, once user submit it will be post method (no json) -->
